
div {
  background-color: white;
  padding: 10px;
  &.greeting{
    border: 10px solid cornflowerblue
  }
  
}
div#canvas-frame {
                border: none;
                cursor: pointer;
                width: 90%;
                height: 580px;
                background-color: #EEEEEE;
            }
