
 .axis path,
 .axis line{
     fill:none;
     stroke: black;
     shape-rendering:crispEdges;
 }
 .axis text{
     font-family: sans-serif;
     font-size:11px;
 }
.linePath{
    fill: none;
	stroke: black;
	stroke-width: 3px;
}